<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>

<!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
 <title>Datastore and Firebase Auth Example</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
</head>
<body>
 <div class="topnav">


     <a id="home" href="{{ url_for('home')}}" >HOME</a>
    <a id="sign-in" hidden="false">SIGN IN</a>
     {% if user_data.email == result.email %}
        <a id="addtask1" href="{{ url_for('addtask_page', id = id)}}">ADD TASK</a>
        <a id="addUser" href="{{ url_for('addUser_page', id = id)}}">INVITE USER</a>
     {% endif %}
     {% if user_data%}
        <p style="float:right;color:#FFFFFF;"> User: {{user_data.name}} </p>
     {% endif %}
     {% for user in result.invited_users %}
         {% if user_data.email==user %}
            <a id="addtask" href="{{ url_for('addtask_page', id = id)}}">ADD TASK</a>
         {% endif %}
     {% endfor %}
     <a id="sign-out" hidden="true">SIGN OUT</a>
 </div>



 <div id="firebase-auth-container"></div>

 <div style="padding:5px;font-size:40px;color:#FFFFFF;">{{result.board_name}}
 {% if user_data.email == result.email %}
 <button type="button" style="padding:0px;margin:2px;" onclick="window.location.href='{{ url_for ( 'editname_page', board_id=id ) }}'" ><i style="font-size:20px;" class="material-icons">edit</i></button>

 <div style="font-size:20px;color:#FFFFFF;">
     Welcome to your board {{result.creator_name}}!
 </div>
 {%endif%}
     </div>
 {% if user_data.email != result.email %}
 <div style="font-size:20px;color:#FFFFFF;">
     Creator:{{result.creator_name}}
</div>
{%endif%}



    <div class="card">

        Participant users:</br>
        {%if result.invited_users %}
        {% if user_data.email == result.email %}

        <form action="/remove_users/{{id}}" method="post">
        <table>
            {% for user in result.invited_users %}
                <tr>
                    <input type="checkbox" value={{user}} name="checkboxp">
                    {{user}}
                </tr>
            {% endfor %}

        </table>
        <input type="submit" class="btnCompare" value="REMOVE">
        </form>

        {% if add==3 %}
        <div class="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Please only check one user to remove!
        </div>
        {% endif %}
        {% else %}
        {% for user in result.invited_users %}
                <tr>
                    {{user}}
                </tr>
        {% endfor %}
    {% endif %}
    {% endif %}
    </div>


{%if not board_tasks %}
 <h2 class="colorr">There are no tasks to display!</h2>
 {% endif %}

{%if uncompleted_tasks %}
 <div class="card">
     <table>
         <tr>Tasks To Be Done</tr>
     <tr>

        <td style="width:30%">Task:</td>
        <td style="width:20%">Deadline:</td>
        <td style="width:30%">Assigned User:</td>
         <td></td><td></td>

    </tr>
    </table>
     <form action="/complete_tasks/{{id}}" method="post">
        <table>
            {% for task in board_tasks %}
                {% if task.statue==0 %}
                <tr>
                    {%if task.assigned_user %}
                    <td style="width:30%">{{task.task_name}}</td>
                    <td style="width:20%">{{task.deadline}}</td>
                    <td style="width:30%">{{task.assigned_user}}</td>
                    {% else %}
                    <td class="fa-remove" style="width:30%">{{task.task_name}}</td>
                    <td class="fa-remove" style="width:20%">{{task.deadline}}</td>
                    <td class="fa-remove" style="width:30%">{{task.assigned_user}}</td>
                    {% endif %}

                    <td ><button type="button" style="padding:0px;" onclick="window.location.href='{{ url_for ( 'edit_task_page' , id = task.id, board_id=id  ) }}'"><i style="font-size:20px;" class="material-icons">edit</i></button>
                    <button type="button" style="padding:0px;" onclick="window.location.href='{{ url_for ( 'delete_task' , id = task.id, board_id=id ) }}'"><i style="font-size:20px;" class="material-icons">delete</i></button></td>
                    <td><input type="checkbox" value={{task.id}} name="checkboxes"></td>
                    {% endif %}
                </tr>
            {% endfor %}

        </table>
        <input type="submit" class="btnCompare" value="CHECK">
    </form>
     {% if add==1 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Select only one task to check complete!
    </div>
    {% endif %}
     {% if add==2 %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Please only check tasks that you are assigned to!
    </div>
    {% endif %}
 </div>
  {% endif %}
 {% if board_tasks %}
 <div class="card">
     <table>
         <tr>Completed Tasks</tr>
     <tr>

        <td style="width:30%">Tasks:</td>

        <td style="width:40%">Assigned User:</td>
         <td style="width:30%">Complete Date:</td>

    </tr>
    </table>
        <table>
            {% for task in board_tasks %}
                {% if task.statue!=0 %}
                <tr>
                    <td style="width:30%">{{task.task_name}}</td>
                    <td style="width:40%">{{task.assigned_user}}</td>
                    <td style="width:30%">{{task.finish_date}}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

 </div>
{% endif %}










 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>
{% block script %} {% endblock %}
</html>
