<!doctype html>
<html>
<head>

<!-- <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" /> -->
<script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />


 <title>Datastore and Firebase Auth Example</title>
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
</head>
<body>
 <div class="topnav">



     <a id="sign-out" hidden="true">Sign out</a>
     <a id="sign-in" hidden="false">Sign in</a>
     {% if user_data %}
        <a id="addboard" href="{{ url_for('createBoardPage')}}">CREATE BOARD</a>
     {% endif %}

 </div>



 <h1 class="colorr">Task Board</h1>


 <div id="firebase-auth-container"></div>




   <div>

        {% if user_data %}
            {% if boards != None %}
                {% for b in boards %}
                    <div class="card">
                        Board:{{ b.board_name }}<br/>
                        Creator:{{ b.creator_name }}<br/>
                        <button type="button" class="btn1" onclick="window.location.href='{{ url_for( 'board_page' , id = b.id) }}'">OPEN BOARD</button>
                        <br/>
                    </div>
                {% endfor %}
            {% endif %}
        {% elif error_message %}
           <p>Error Message: {{ error_message }}</p>
        {% endif %}

   </div>


 <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
 <script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</body>

</html>
